

/*

section#media, li#nav-media {
    display:none;
}



section#experience, li#nav-experience {
    display:none;
}


section#education, li#nav-education {
    display:none;
}



p.full-details {
    display: none;
}
*/
