

/* using !important to override conflicting display:block style from style.css */

section#media, li#nav-media {
    display:none !important;
}

/*

section#experience, li#nav-experience {
    display:none !important;
}

section#education, li#nav-education {
    display:none !important;
}



p.full-details {
    display: none;
}


*/




span.tech-details {
    display: none;
}


p.education-details {
    display: none;
}
